/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.table-container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}
th {
    height: 70px;
    background-color: deepskyblue;
    padding: 15px;
}

td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: lightblue;
}

.form-check-label{font: bold}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

    .card:hover {
        box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    }
.card img{
    border-radius: 5px 5px 0 0;
}